extends layout

block content
  .container
    .jumbotron.mt-3
      h1 Bem vindo!
      hr
      p.lead Para saber mais sobre esse projeto 
        i visite 
        | nossa página de 
        a(href='/sobre') Sobre 
        | e para começar a experiência acesse nossa página de 
        a(href='/jogo') Jogo!  
        | Após algumas partidas recomendo que acesse a página de 
        a(href='/rank') Rank 
        | para saber seu desempenho.
      p.lead Abraços, 
        b Emiliandro Firmino
              