extends layout

block content
  .container
    .jumbotron.mt-3
      h1 Sobre o Projeto
      hr
      h2 Qual a meta?
      p.lead É desenvolver um jogo com as tecnologias Node e Angular, a biblioteca de estilos Bootstrap, além de que a persistência dos dados pode ser volátil. Montar uma aplicação que esteja disponível ao executar 'npm run start' ou ‘ng serve’.
      
      h2 Quem é o programador?
      p.lead Emiliandro Firmino é um técnologo em Jogos Digitais que passou a faculdade trabalhando em projetos Node e .Net, e o ano de 2018 trabalhando no mercado como desenvolvedor Front-End de projetos em wordpress, amp, php puro e laravel.
      h2 Desenvolvimento do projeto
      p.lead Projeto foi feito num período de 3 dias, sendo 4 horas durante a sexta, 3 horas durante o sábado e 8 horas durante o domingo. Essa limitação de horas foi feito para tentar simular um horário normal de trabalho.  O 
        b horário de sexta-feira 
        |contou pela parte da noite, onde após entender o projeto, o tempo foi usado para desenvolver a infraestrutura node e o layout básico com bootstrap. O 
        b horário de sábado   
        | contou também apenas com a parte da noite, pois passei o dia no curso de Analista de Teste de Software do grupo Testing and Play (Cardume Coworking). O 
        b horário de domingo 
        | seguiu normal.
      h2 Uso de Jade e Express?
      p.lead Nesse projeto ambos estão sendo usados para facilitar a reutilização de código e facilitar a renderização das páginas e também por costume do programador.
     